[Unit]
Description=Fast5 auto upload service
After=network.target

[Service]
User=root
Group=root
ExecStart=/opt/ont/minknow/ont-python/bin/python /usr/local/bin/fast5upload
ExecStop=/bin/kill ${MAINPID}
RestartSec=3
Restart=always

[Install]
WantedBy=multi-user.target
